body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f7; /* soft gray background */
  color: #333;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: linear-gradient(135deg, #2c3e50, #4b79a1);
  background-image: url(images/herosection\ background.jpg);
  color: #213ebd;
  height: 25vh;
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-text p {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero-text button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #e67e22;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-text button:hover {
  background-color: #d35400;
}

.hero-image {
  max-width: 45%;
}

.hero-image img {
  width: 50%;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.hero-image img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-text, .hero-image {
    max-width: 100%;
  }
  .hero-text h1 {
    font-size: 2.2rem;
  }
}


.container div{
  color: black;
  font-size: larger;
  font-weight: bold;
  padding: 30px;
  margin: 10px;
  border-radius: 30px;
  height: 200px;
  width: 250px;
  background: linear-gradient(135deg, #4facfe, #9cd41b, #4facfe);
}

.container div:hover{
  transform: scale(1.05);
  transition: transform 0.8s ease-in-out;
  background: linear-gradient(135deg, #9cd41b, #4facfe, #9cd41b);
}

.container div h1{
  font-size: 2rem;
  font-size: larger;
  letter-spacing: normal;
  color: brown;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin: 30px;
}